body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

a {
	color: #00c7a9;
	text-decoration: none;
}

.has-nice-link a:not(.button):not(.no-underline) {
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.has-nice-link a:not(.button):not(.no-underline):hover {
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

.is-primary .has-nice-link a:not(.button):not(.no-underline) {
	box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.5);
}

.is-primary .has-nice-link a:not(.button):not(.no-underline):hover {
	box-shadow: inset 0 -2px 0 0 rgba(255, 255, 255, 0.7);
}

.is-dark-text * {
	color: #363636 !important;
}

.is-centered {
	margin-left: auto;
	margin-right: auto;
}

#profile-pic {
	margin-top: -100px;
	margin-bottom: 10px;
	border-radius: 140px;
}

@media screen and (max-width: 768px) {
	#profile-pic {
		margin-top: -60px;
	}
}

#scroll-hint {
	opacity: 0.5;
	transition: opacity 0.5s ease-out !important;
}

/* uncss:ignore */
#scroll-hint.hidden {
	opacity: 0;
}

/* uncss:ignore */
#latest-blog-post {
	margin-top: 20px;
	font-style: italic;
	opacity: 0;
	transition: opacity 1s ease-in;
}

/* uncss:ignore */
#latest-blog-post.visible {
	opacity: 0.8;
}

#unicorn-btn {
	transition: transform 0.3s ease-in-out;
}

#unicorn-btn:hover {
	transform: scale(1.8);
}

#unicorn-icon {
	margin-top: -80px;
	margin-bottom: 20px;
}

#projects p {
	font-size: 16px;
}


/*
Font Awesome
Generated with https://icomoon.io/app/
*/
@font-face {
	font-family: 'font-awesome';
	src: url('font-awesome.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^="fa-"],
[class*=" fa-"] {
	font-family: 'font-awesome' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-pencil:before {
	content: '\e905';
}

.fa-github:before {
	content: '\eab0';
}

.fa-twitter:before {
	content: '\ea96';
}

.fa-caret-down:before {
	content: '\e900';
}
