---
import Layout from '~/layouts/PageLayout.astro';
import {proseCSS} from '~/utils/apps.js';

const {meta, title} = Astro.props;
---

<Layout {meta}>
	<section class="md:min-h-screen sm:px-6 mb-20 mx-auto max-w-3xl">
		<Fragment slot="title">
			<header>
				<h1
					class="text-center text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-8 md:mb-16 font-heading"
				>
					{title}
				</h1>
			</header>
		</Fragment>
		<main class={proseCSS}>
			<slot/>
		</main>
	</section>
</Layout>
