---
import {Icon} from 'astro-iconify';
---

<footer class="border-t border-gray-200 dark:border-slate-800">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="md:flex md:items-center md:justify-between py-6 md:py-8">
			<ul class="justify-center flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
				<li>
					<a
						href="https://twitter.com/sindresorhus"
						rel="me"
						aria-label="Twitter"
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
					>
						<Icon name="tabler:brand-twitter" class="w-5 h-5"/>
					</a>
				</li>
				<li>
					<a
						href="https://mastodon.social/@sindresorhus"
						rel="me"
						aria-label="Mastodon"
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
					>
						<Icon name="tabler:brand-mastodon" class="w-5 h-5"/>
					</a>
				</li>
				<li>
					<a
						href="https://instagram.com/sindresorhus"
						rel="me"
						aria-label="Instagram"
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
					>
						<Icon name="tabler:brand-instagram" class="w-5 h-5"/>
					</a>
				</li>
				<li>
					<a
						href="https://unsplash.com/@sindresorhus"
						rel="me"
						aria-label="Unsplash"
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
					>
						<Icon name="tabler:brand-unsplash" class="w-5 h-5"/>
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="GitHub"
						href="https://github.com/sindresorhus"
					>
						<Icon name="tabler:brand-github" class="w-5 h-5"/>
					</a>
				</li>
			</ul>
			<div class="hidden md:inline text-xs text-gray-700 mr-4 dark:text-slate-400">
				<q>The people who are crazy enough to think they can change the world are the ones who do</q>
			</div>
		</div>
	</div>
</footer>
