---
import {Icon} from 'astro-iconify';

export type OverflowItemProps = {
	title: string;
	url: string;
};

export type OverflowMenuProps = {
	overflowItems?: readonly OverflowItemProps[];
};

const {overflowItems} = Astro.props;
---

<div class="relative flex items-center" style="padding-top:2px">
	<select
		aria-label="Overflow menu"
		class="overflow-menu-component absolute inset-0 w-full h-full opacity-0 cursor-pointer"
		style="font-weight: initial; font-family: system-ui;"
	>
		<option value="" disabled selected>…</option>
		{overflowItems?.map(item => (
			<option value={item.url}>{item.title}</option>
		))}
		<slot />
	</select>
	<Icon
		name="tabler:dots-circle-horizontal"
		class="w-5 h-5 text-primary-600 dark:text-primary-400 pointer-events-none"
		aria-hidden="true"
	/>
</div>

<script is:inline>
document.addEventListener('change', event => {
	if (event.target?.matches('.overflow-menu-component')) {
		const selectedValue = event.target.value;
		if (selectedValue) {
			event.target.value = ''; // Clear selection
			window.location.href = selectedValue;
		}
	}
});
</script>
