---
import AppsCategory from '~/components/apps/AppsCategory.astro';
---

<AppsCategory
	title="Free Apps"
	description="The apps of mine that are completely free (without ads!)."
	filter={app => !app.isPaid}
	groupByPlatform={true}
>
	<br slot="footer" />
	<p slot="footer">If you like my work, consider leaving a review on the App Store. And also check out my <a href="/apps/paid">paid apps</a>.</p>
</AppsCategory>
