---
import AppsCategory from '~/components/apps/AppsCategory.astro';
---

<AppsCategory
	title="Paid Apps"
	description="The apps of mine that are paid. One-time payment. Own forever."
	filter={app => app.isPaid}
	groupByPlatform={true}
>
	<br slot="footer" />
	<p slot="footer">You can find my free apps <a href="/apps/free">here</a>.</p>
</AppsCategory>
