---
layout: default
---

<style>
	.hero-body {
		padding-top: 2rem;
	}

	.hero-body > .container {
		margin-bottom: 140px;
	}

	#intro .title {
		margin-top: 10px;
		margin-bottom: 1.8rem;
	}

	#intro .subtitle {
		font-size: 1.4em;
		font-weight: 500;
		margin-top: -1rem;
		margin-bottom: 10px;
	}

	#icon {
		filter: drop-shadow(0px 1px 3px #D5D5D5);
		width: 200px;
	}

	.app-buttons {
		text-align: center;
	}

	.app-buttons > div,
	.app-buttons > div > a {
		display: inline-block;
	}

	.app-main-button {
		margin: 20px 0;
	}

	.app-links li {
		margin: 10px 0;
	}

	#screenshots {
		text-align: center;
		flex: auto;
	}

	#screenshots img {
		box-sizing: border-box;
		border-radius: 2px;
		margin: 20px 0;
		max-height: 600px;
		max-width: 70%;
	}

	@media screen and (max-width: 600px) {
		#screenshots img {
			max-width: 100%;
		}
	}

	{% unless page.screenshot_frame == false %}
	#screenshots img {
		border: 1px solid rgba(0, 0, 0, 0.6);
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
	}
	{% endunless %}
</style>

<section class="hero is-fullheight is-default">
	<div class="hero-body">
		<div class="container has-text-centered">
			<div class="columns is-vcentered is-centered">
				<div id="intro" class="column is-half is-narrow">
					<p>
						<img id="icon" src="{{ relative_path }}/assets/{{ page.slug }}/icon.png" width="256" height="256">
					</p>
					<h1 class="title is-1">{{ page.title }}</h1>
					<h2 class="subtitle">{{ page.subtitle }}</h2>
				</div>
			</div>
			<div class="columns is-vcentered is-centered is-text-centered">
				<div class="column is-half is-narrow">
					{% if page.app_store_url or page.setapp_url %}
						<div class="app-buttons">
							<div>
								{% if page.app_store_url %}
									<a class="no-underline app-store-badge" href="{{ page.app_store_url }}" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/macappstore-lrg.svg) no-repeat;width:165px;height:40px"></a>
								{% endif %}
								{% if page.setapp_url %}
									<a href="{{ page.setapp_url }}"><span style="position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;">Available on Setapp</span><img src="https://developer.setapp.com/setapp-button/setapp.svg" alt="Available on Setapp" style="margin: 0; padding: 0; display: block; width: 122px; height: 40px"></a>
								{% endif %}
							</div>
						</div>
					{% endif %}
					{% if page.main_button %}
						<p>
							<a class="app-main-button button is-primary is-medium is-outlined" href="{{ page.main_button.url }}">{{ page.main_button.title }}</a>
						</p>
					{% endif %}
					<ul class="app-links">
						<li>
							{% if page.repo_url %}
								<a class="is-link" href="{{ page.repo_url }}">Source on GitHub</a>
							{% else %}
								{% unless page.is_prerelease %}
									<a class="is-link" href="https://sindresorhus.com/feedback?product={{ page.title | url_encode }}">Support</a>
								{% endunless %}
							{% endif %}
						</li>
						{% for link in page.links %}
							<li>
								<a href="{{ link[1] }}">{{ link[0] }}</a>
							</li>
						{% endfor %}
					</ul>
					<div class="content">
						{{ content }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-half is-narrow">
				<p>{{ page.description }}</p>
			</div>
		</div>
		<div class="columns is-centered">
			<div id="screenshots" class="column is-two-thirds is-narrow">
				{% comment %}
					This mess is needed because we don't know the extension of the screenshot upfront...
				{% endcomment %}

				{% for file in site.static_files %}
					{% assign path = '/assets/' | append: page.slug | append: '/screenshot' %}
					{% if file.path contains path %}
						<img src="{{ file.path }}">
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>
