<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#3273DC">
		<meta name="author" content="Sindre Sorhus">
		{% capture description %}{% if page.description %}{{ page.description | strip_html }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
		<meta name="description" content="{{ description }}">
		<meta property="og:type" content="website">
		<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
		<meta property="og:url" content="{{ page.url | absolute_url }}">
		<meta property="og:description" content="{{ description }}">
		{% if page.collection == 'apps' %}
			{% for file in site.static_files %}
				{% assign path = '/assets/' | append: page.slug | append: '/icon' %}
				{% if file.path contains path %}
					<meta property="og:image" content="{{ file.path | absolute_url }}">
				{% endif %}
			{% endfor %}
		{% else %}
			<meta property="og:image" content="https://sindresorhus.com/sindre-sorhus.jpg">
		{% endif %}
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@sindresorhus">
		<meta name="twitter:creator" content="@sindresorhus">
		<meta name="x-build-time" content="{{ site.time | date_to_rfc822 }}">
		<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
		<link rel="alternate" type="application/rss+xml" title="Sindre Sorhus' blog" href="https://blog.sindresorhus.com/feed">
		<link rel="preload" href="{{ '/font-awesome.woff' | relative_url }}" as="font" crossorigin>
		<link rel="icon" href="{{ '/favicon.png' | relative_url }}" sizes="32x32">
		<link rel="stylesheet" href="{{ '/main.css' | relative_url }}">
		<script type="module" src="{{ '/main.js' | relative_url }}"></script>
		{% if page.url == '/' %}
			<script src="{{ '/assets/javascript/timeago.min.js' | relative_url }}"></script>
			<script type="module" src="{{ '/index.js' | relative_url }}"></script>
		{% endif %}
		<!-- Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-25562592-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-25562592-1');
		</script>
		<!-- / Google Analytics -->
	</head>
	<body>
		<section class="hero">
			<div class="hero-head">
				<div class="container">
					<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
						<div class="navbar-brand">
							{% if page.url == '/' %}
								<a id="unicorn-btn" class="navbar-item" href="https://sindresorhus.com/unicorn" title="Click me!">🦄</a>
							{% else %}
								<span class="navbar-item">Sindre Sorhus</span>
							{% endif %}
							<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
								<span aria-hidden="true"></span>
								<span aria-hidden="true"></span>
								<span aria-hidden="true"></span>
							</a>
						</div>
						<div class="navbar-menu">
							<div class="navbar-end">
								<a class="navbar-item is-tab" href="{% link index.html %}">Home</a>
								<a class="navbar-item is-tab" href="{% link index.html %}#projects">Projects</a>
								<a class="navbar-item is-tab" href="{% link apps.html %}">Apps</a>
								<a class="navbar-item is-tab" href="{% link donate.md %}">Donate</a>
								<a class="navbar-item is-tab" href="{% link thanks.md %}">Supporters</a>
								<a class="navbar-item is-tab" href="{% link about.md %}">About</a>
								<a class="navbar-item is-tab" href="{% link contact.md %}">Contact</a>
								<a class="navbar-item is-tab" href="https://blog.sindresorhus.com">Blog</a>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</section>
		{{ content }}
	</body>
</html>
